* {
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  font-size: 16px;
}

.contenedor {
  display: flex;
  flex-direction: column;
}

.centrado {
  text-align: center;
  font-size: 150%;
}

/* .titulo {
  font-size: 20px;
} */

nav {
  display: flex;
  flex-direction: row;
}

.tarjeta {
  width: 50%;
  /* height: 100px; */
  border: 2px solid rgb(128, 0, 128);
  margin: 10px;
  background-color: rgb(202, 17, 147);
  text-align: center;
}

nav a {
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
}

.foto {
  width: 100px;
}
.trabajo {
  list-style-type: none;
}
.iframe {
  text-align: center;
  width: 50%;
}

.boton {
  border: 2px solid rgb(128, 0, 0);
  text-decoration: none;
  padding: 5px;
  background-color: rgb(255, 51, 0);
  border-radius: 10px;
  margin: 5px;
}

/* label {
  margin-right: 50px;
}

input {
  margin-right: 0;
} */

.container {
  text-align: center;
  border: 2px solid rgb(128, 0, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redes i {
  margin: 15px;
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
  }
  .tarjeta {
    width: 47%;
  }
}

@media screen and (max-width: 700px) {
  .tarjeta {
    width: 100%;
  }
}

.slider {
  width: 50%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 500%;

  animation: cambio 20s infinite alternate;
}

.slider li {
  width: 10%;
  list-style: none;
}

.slider img {
  width: 60%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }

  100% {
    margin-left: -400%;
  }
  120% {
    margin-left: -400%;
  }

  125% {
    margin-left: -500%;
  }
  145% {
    margin-left: -500%;
  }
}
